.after-header {
    display: flex;
    justify-content: space-between;
}

.header-list_item-wrapper {
    display: flex;
    justify-content: flex-start;
}

.header-list_item {
    margin: 30px 40px 20px 0px;
}

.header-list_item-link {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

@media screen and (max-width:768px) {
    .header-list_item{
        margin: 20px 20px 10px 0px;
    }

    .header-list_item-link{
        font-size: 15px;
    }
}

@media screen and (max-width:480px) {
    .header-list_item{
        margin: 0px 20px 10px 0px;
    }

    .header-list_item-link{
        font-size: 12px;
    }
}

@media screen and (max-width:375px) {
    .header-list_item-wrapper{
        margin: 0px;
    }

    .header-list_item-link{
        margin: 0px 5px 10px 0px;
        font-size: 10px;
    }
}